beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.0
get==0.0.21
idna==2.6
itypes==1.1.0
Jinja2==2.10
MarkupSafe==1.0
post==0.0.13
public==0.0.46
pytz==2017.3
query-string==0.0.12
request==0.0.13
requests==2.18.4
setupfiles==0.0.50
uritemplate==3.0.0
urllib3==1.24.2
