{% extends 'blacksheep/baseModele.html' %}
{% block  contenu %}
<div class="container">
    <div class="jumbotron">
        <h1>Bienvenue sur BlackSheepTV, le site de malade frr</h1>
        <p></br></p>
        <div class="text-center"><p><a class="btn btn-primary btn-lg" href="{% url 'blacksheep:film-list' %}" role="button">Liste des films</a></p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'blacksheep:serie-list' %}" role="button">Liste des séries</a></p>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $.ajax({
       url : 'loginAPI',
       type : 'GET',
       dataType : 'html',
       success: function(g) {
            $('#connected').attr('class', 'glyphicon glyphicon-ok');
        },
        error: function() {
            $('#connected').attr('class', 'glyphicon glyphicon-remove');
        }
    });



});
</script>

{% endblock %}
