{% extends "blacksheep/baseModele.html" %}
{% block contenu %}
    {% include 'blacksheep/v_filmList.html' %}
    <div class="row">

    {% if object_list.has_next or object_list.has_previous %}
    <div class="text-center pages">
    <nav>
        <ul class="pagination pg-darkgrey">

            <!--Arrow left-->
            {% if object_list.has_previous %}
            <li class="page-item">
                <a href="?page={{ object_list.previous_page_number }}" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Précédent</span>
                </a>
            </li>
            {% endif %}
    {% for i in range %}
            {% if object_list.number == i %}
            <li class="page-item active"><a class="page-link">{{ object_list.number }}</a></li>
            {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
            {% endif %}
    {% endfor %}
            <!--Arrow right-->
              {% if object_list.has_next %}
            <li class="page-item">
                <a href="?page={{ object_list.next_page_number }}" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Suivant</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    </div>
    {% endif %}

    </div>
{% endblock %}
