{% extends "blacksheep/baseModele.html" %}
  {% block contenu %}

    <h1>{{ film.titre }}</h1>
    <p>{% if film.image %}
          <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{ film.image }}" class="img-thumbnail" alt="image du film {{ film.titre }} ">
        {% else %}
        {% load static %}
          <img src="{% static 'images/imgfilmnotfound.png' %}" alt="image non trouvée"  class="img-thumbnail">
        {% endif %}</p>
    <p>Synopsis : {{ film.synopsis }}</p>
    <p>Note : {{ film.note }}</p>
    <p>Id : {{ film.id }}</p>
    {% if film.date_sortie|date:'d/m/Y' != '01/01/1900' %}
      <p>Date sortie : {{ film.date_sortie|date:'d/m/Y' }}</p>
    {% else %}
      <p>Date sortie : Inconnue</p>
    {% endif %}
    {% if film.genre == '' %}
      <p>Genre : Inconnu </p>
    {% else %}
      <p>Genre : {{ film.genre }}</p>
    {% endif %}
    <div id="trailer">
          <div class="loader"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
id="{{ film.id }}"
    $.ajax({
  url: "/blacksheep/film/film_trailer",
  type: "get",
  data: {id : id},
  dataType: "html",
  success: function(g) {
      $('#trailer').html('<h4>Bande annonce :</h4>'+g)
   },
   error: function() {


   }
});

</script>
{% endblock %}
