{% extends "blacksheep/baseModele.html" %} {% block contenu %}
<div class="text-center">
  <h1>{{ serie.seriesName }}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-4 pull-right">
      <p>{% if serie.banner %}
        <img class="img-fluid img-thumbnail" src="https://www.thetvdb.com/banners/{{ serie.banner }}" alt=""> {% else %} {% load static %}
        <img class="img-fluid img-thumbnail" src="{% static 'images/imgserienotfound.png' %}" alt="" class="img-fluid img-thumbnail minifilm"> {% endif %}</p>
    </div>
    <div class="col-8">
      <p>
        <h3>Synopsis :</h3> {{ serie.overview }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>
        <h3>Network :</h3> {{ serie.network }}</p>
    </div>
    <div class="col-sm-6">
      <p>
        <h3>Date sortie  :</h3> {{ serie.firstAired }}</p>
    </div>
    <div class="col-sm-6">
      <p>
        <h3>Statut  :</h3>
        {% if serie.status == 'Ended' %}
          Diffusion terminée
        {% elif serie.status == 'Continuing' %}
          En cours de diffusion
        {% endif %}
      </p>
    </div>
    <p>
      <div class="col-sm-6">
        <div id="saison">
          <div class="loader"></div>
        </div>
      </div>
  </div>
  <div id="episode">

  </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  id = "{{ serie.id }}"
  $.ajax({
    url: "/blacksheep/detailSerie/saison/",
    type: "get",
    data: {
      id: id
    },
    dataType: "html",
    success: function(g) {
      $('#saison').html('<h3>Saisons :</h3>' + g)
    },
    error: function() {


    }
  });

  function searchepisode(saison) {
    $('#episode').html('<div class="loader"></div>')
    id = "{{ serie.id }}"
    $.ajax({
      url: "/blacksheep/detailSerie/episode/",
      type: "get",
      data: {
        id: id,
        saison: saison
      },
      dataType: "html",
      success: function(g) {
        $('#episode').html(g)
      },
      error: function() {


      }
    });
  }
</script>
{% endblock %}
