
{% for film in object_list %}


<div class="col-xs-12 col-sm-4 col-lg-2">
  <a href="{% url 'blacksheep:film-detail' film.id %}" class="btn">
  <div class="thumbnail">
      <div class="text-center">
    <h4 class="filmtitle">{{ film.titre | truncatechars:15}}</h4>
  {% if film.image %}
    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{ film.image }}" alt="image {{ film.titre }}"  class="img-fluid img-thumbnail minifilm">
  {% else %}
      {% load static %}
        <img src="{% static 'images/imgfilmnotfound.png' %}" alt="image non trouvée"  class="img-fluid img-thumbnail minifilm">
  {% endif %}
      <br><br>
      <p> Voir détails</p>
  </div>
</div>
</a>
</div>




  {% empty %}

    <p>Ooops aucun résultat, êtes-vous sûr d'avoir entrer un nom de série existant ?</p>

{% endfor %}
<div class="pagination">
  <span class="step-links">
      {% if object_list.has_previous %}
          <a href="?page={{ object_list.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
      </span>

      {% if object_list.has_next %}
          <a href="?page={{ object_list.next_page_number }}">next</a>
      {% endif %}
  </span>
</div>